@import "base.settings";
@import "base.fonts";
@import "base.palette";

// perform spacing reset for all elements
*{
    margin:0;
    padding:0;
}

body{
    //Set line heights
    line-height: $base-line-height;

    //Set default font weight
    font-weight: $font-weight-regular;

    //set default font size
    font-size: $font-normal;

    //set default color
    color: $color1;
}

//base settings for inputs
input{
    font-size: $font-normal;
    font-weight: $font-weight-regular;
}

h1,h2,h3,h4,h5,h6{

    //Set the heading font weights 
    font-weight: $font-weight-heading;

}

// Set heading sizes
h1 { font-size: $header-size-1};
h2 { font-size: $header-size-2};
h3 { font-size: $header-size-3};
h4 { font-size: $header-size-4};
h5 { font-size: $header-size-5};
h6 { font-size: $header-size-6};