
/* RGB palette for this application */ 
$color1: #161616;
$color2: #00880b;
$color3: white;
$color4: rgb(206, 21, 5);
$color5: #ffedb0;
$color6:rgb(0, 102, 185);
$color7: #f3bd2a;
$color-very-light-grey: rgba(244, 244, 244, 1); 
$color-light-grey: rgba(238, 238, 238, 1); 
$color-grey: rgba(204, 204, 204, 1); 
$color-dark-grey: #8a8a8a;